<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlinks}}
</head>
<body>
    {{!-- navbar - template engine --}}
    {{>navbar}}

    {{!-- About Page --}}
    <section id="about">
      
      <div class="container">
        <div>
          <p>
            I have a strong foundation in both software development and IT operations and have completed coursework in a range of topics relevant to MERN stack, 
            Cloud computing with AWS, and DevOps, including version control, continuous integration, and cloud computing.
             I am also highly motivated and curious to learn new technologies.
          </p>
        </div>
        <div>
          <span style="font-size: 25px; font-weight: bold; color: var(--white);">Language and tools I used :</span>
          <div>
            <ul style="list-style-type: none;" class="brands mt-4">
              <li class="brands__item">
                <a href="https://medium.com/@atharvard06/cpp-1-d778d42d0ca1">
                  <img src="/img/tools/Cplus.png" alt="C++" />
                  <div class="title3"> C++</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="https://github.com/atharvard/projectMorya.git">
                  <img src="/img/tools/html.png" alt="HTML" />
                  <div class="title3"> HTML</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="https://github.com/atharvard/projectMorya.git">
                  <img src="/img/tools/css.png" alt="CSS" />
                  <div class="title3"> CSS</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="https://github.com/atharvard/project-weather_app.git">
                  <img src="/img/tools/javaScript.png" alt="Javacript" />
                  <div class="title3"> Javacript</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="https://medium.com/@atharvard06/nodejs-261e8062e9f7">
                  <img src="/img/tools/nodejs.png" alt="NodeJS" />
                  <div class="title3"> NodeJS</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="https://medium.com/@atharvard06/aws-byjus-case-study-d32aa953d18f">
                  <img src="/img/tools/aws.png" alt="AWS" />
                  <div class="title3"> AWS</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="https://github.com/atharvard">
                  <img src="/img/tools/git.png" alt="Git/Github" />
                  <div class="title3"> Git/Github</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/docker.png" alt="Docker" />
                  <div class="title3"> Docker</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/kubernete.png" alt="Kubernete" />
                  <div class="title3"> Kubernete</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/ansible.png" alt="Ansible" />
                  <div class="title3"> Ansible</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/figma.png" alt="Figma" />
                  <div class="title3"> Figma</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/jenkins.png" alt="Jenkins" />
                  <div class="title3"> Jenkins</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/plc.png" alt="PLC Programing" />
                  <div class="title3"> PLC Programing</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/api.png" alt="API" />
                  <div class="title3"> API</div>
                </a>
              </li>
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/azure.png" alt="Azure" />
                  <div class="title3"> Azure</div>
                </a>
              </li>              
              <li class="brands__item">
                <a href="">
                  <img src="/img/tools/linux.png" alt="Linux" />
                  <div class="title3"> Linux</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div>
            <a class="btn btn-brand mt-4" href="https://drive.google.com/file/d/1N6kpzMZR6mV___lQxh-lLI7KFYGL9JNB/view?usp=sharing" target="_blank">Download My Resume</a>
        </div>   

      </div>

    </section>

    {{>footer}}


    
</body>
</html>