<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlinks}}
</head>
<body>
    {{!-- navbar - template engine --}}
    {{>navbar}}

    {{!--Experience Page  --}}
    <section id="experience">
      <div class="grid-container">

        <!-- Education PART -->
        <div >
          <h1 class="head1">Education</h1> 
          <div class="headline">
            <div class="block1">
              <p class="course">B.Tech in Electrical Engineering</p>
              <div class="institute">
                <p >Government College of Engineering, Karad</p>
                <p >2019 - 2023</p>
                <p >CGPA - 7.89</p>
              </div>
            </div>
            <div class="block1">
              <p class="course">HSC (12th)</p>
              <div class="institute">
                <p >S. B. College of Science, Aurangabad</p>
                <p >2018 - 2019</p>
                <p >Percentage - 66.31%</p>
              </div>
  
            </div>
            <div class="block1">
              <p class="course">SSC (10th)</p>
              <div class="institute">
                <p >New English High School, Aurangabad</p>
                <p >2016 - 2017</p>
                <p >Percentage - 92.80%</p>
              </div>
            </div>
          </div>
        </div>

        <!-- vertical line -->
        <div >
          <div class="vl">
            
          </div>
        </div>

        <!-- Experience part -->
        <div>
          <h1 class="head1"> Internship / Experience</h1>
          <div class="headline">
            <div class="block2">
              <p class="course">Endress + Hauser Automation India Pvt. Ltd.</p>
              <div class="institute">
                <p>Pressure and Level Measurement Instrument manufacturing Company</p>
                <p>Duration - 15 Dec 2021 - 15 Jan 2022</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    {{>footer}}
    
</body>
</html>