<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlinks}}
</head>
<body>
    {{!-- navbar - template engine --}}
    {{>navbar}}

    {{!-- Project Page --}}
    <section id="project">
      <!-- Electrical frame -->
      <div>
        <div class="title2">
          <p>Electrical & Electronics :</p>
        </div>
        <div class="box1">
          <!-- p1 -->
          <div class="probox">
            <div class="thumbnail" >
              <a href="">
                <img src="img/project/p1.png" alt="Home Automation" > 
              </a> 
            </div>
            <div class="text1">
              <p>Voice Control Home Automation using Arduino</p>
              <p class="discrip"> <span style="color: #FEA609;" >Tools :</span> Arduino, HF805, Sensors, LED's
              </p>
              <p class="discrip">  <span style="color: #FEA609;" > Discription : </span>Builded code pipeline for Error finding.
                Developed a fully personalized Home Automation System
                with security features, which can operated using Voice
                Commands of users.`</p>
            </div>
          </div>
          <!-- p2 -->
          <div class="probox">
            <div class="thumbnail">
              <a href="">
                <img src="img/project/p2.png" alt="Circuit Breaker Cross-Section" > 
              </a> 
            </div>
            <div class="text1">
              <p>Circuit Breaker Cross-Section</p>
              <p class="discrip"> <span style="color: #FEA609;" >Tools :</span> 16A/32A MCB
              </p>
              <p class="discrip"> <span style="color: #FEA609;" > Discription :</span>
                Specially study of MCB at different condition. 
                Testing of Short circuit and overcurrent fault protection with different loads
                 and study about different circuit brakers </p>
            </div>
          </div>

        </div>
      </div>


      <!-- Web Development Frame -->
      <div >
        <div class="title2">
          <p>Web Development :</p>
        </div>
        <div class="box1">
          <!-- pw3 -->
          <div class="probox">
            <div class="thumbnail">
              <a href="https://github.com/atharvard/project-weather_app.git" target="_blank">
                <img src="img/project/pw3.png" alt="Weather Forcasting Web Application" > 
              </a> 
            </div>
            <div class="text1">
              <p>Weather Forcasting Web Application</p>
              <p class="discrip"> <span style="color: #FEA609;" > Tools :</span>
                HTML, CSS, Javascript, Bootstrap, NodeJS, API.</p>
              <p class="discrip">  <span style="color: #FEA609;" > Discription : </span>Builded code pipeline for Error finding.
                Created Full fledge dynamic weather application with help of open API call. 
                
              </p>
              <a class="projectlink" href="https://github.com/atharvard/project-weather_app.git" target="_blank">
                <p> Project link</p>
              </a>
            </div>
          </div>
          <!-- pw4 -->
          <div class="probox" >
            <div class="thumbnail">
              <a href="https://github.com/atharvard/projectMorya.git" target="_blank">
                <img src="img/project/pw4.png" alt="Morya Pratishthan  Web Application" > 
              </a> 
            </div>
            <div class="text1">
              <p>Morya Pratishthan  Web Application</p>
              <p class="discrip"> <span style="color: #FEA609;" > Tools :</span>
                HTML, CSS, Javascript, Bootstrap, NodeJS, API, ExpressJS, MongoDb, AWS</p>
              <p class="discrip">  <span style="color: #FEA609;" > Discription : </span>Builded code pipeline for Error finding.
                Created Full fledge dynamic website using different tools,
                Where one page for registration of new member and
                collecting database of registered user.
                Login authentication using Token.
                Also tried to host website using AWS services.</p>
              <a class="projectlink" href="https://github.com/atharvard/projectMorya.git" target="_blank">
                <p> Project link</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- software project -->
      <div >
        <div class="title2">
          <p>Software Development Automation :</p>
        </div>
        <div class="box1" >
          <!-- ps5 -->
          <div class="probox">
            <div class="thumbnail">
              <a href="https://medium.com/devops-dev/ci-cd-project-f16a0919902c">
                <img src="img/project/ps5.png" alt="Jenkins pipeline with continous deployment" > 
              </a> 
            </div>
            <div class="text1">
              <p>Jenkins pipeline with continous deployment</p>
              <p class="discrip"> <span style="color: #FEA609;" > Tools :</span>
                Tomcat, Jenkins, ANT, CI/CD,  GITHUB, AWS.</p>
              <p class="discrip">  <span style="color: #FEA609;" > Discription : </span>Builded code pipeline for Error finding.
                Used github repo to connect with Jenkins.
                Created jobs/items in Jenkins for pulling Git repo, Code-
                Build & review, testing of code, and last for deployment.</p>
              <a class="projectlink" href="https://medium.com/devops-dev/ci-cd-project-f16a0919902c" target="_blank">
                <p> Project link</p>
              </a>
            </div>
          </div>
          <!-- ps6 -->
          <div class="probox">
            <div class="thumbnail">
              <a href="https://github.com/atharvard/projectMorya.git" target="_blank">
                <img src="img/project/ps6.png" alt="Re-Architecting Web App on AWS Cloud [PAAS & SAAS]" > 
              </a> 
            </div>
            <div class="text1">
              <p>Re-Architecting Web App on AWS Cloud [PAAS & SAAS]</p>
              <p class="discrip"> <span style="color: #FEA609;" > Tools : </span>
                AWS, EC2, IAM, MFA, Keys, Elastic Benstalk, RDS, Jenkins., Nexus, Packages .</p>
              <p class="discrip">  <span style="color: #FEA609;" > Discription : </span>Builded code pipeline for Error finding.
                Setting up web application on AWS, Re-Architecting it on
                AWS using Elastic Benstalk, RDS for data storgae, building
                and deploying artifacts.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{>footer}}
   
</body>
</html>